{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/ie10-viewport-bug-workaround.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/navbar.css' %}"/>



        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div class="container">

      <!-- Static navbar -->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">42 Coffe cups</a>
                  <a class="navbar-brand" href="#">Requests</a>
                </div>
               </div><!--/.container-fluid -->
            </nav>

      <!-- Main component for a primary marketing message or call to action -->
            <div class="my_jumbotron jumbotron">
            {% block content %}
                <div class="bs-example" data-example-id="hoverable-table">
                  <table class="table table-hover table_space"> 
                    <thead> 
                      <tr> 
                        <th>N</th> 
                        <th>Request method</th> 
                        <th>Request link</th> 
                        <th>Request date</th> 
                      </tr> 
                    </thead> 
                      <tbody>
                        <tr> 
                          <th scope="row"></th> 
                          <td>POST</td> 
                          <td>http://127.0.0.1:8000/</td>
                          <td>22:51 23.03.2017</td> 
                        </tr>
                      </tbody> 
                    </table> 
                </div>
            {% endblock %}
            </div> 
        </div>   
    </body>
</html>
